li {
  align-items: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.name {
  text-align: center;
}



.form{
  display: flex;
  justify-content: center;
  align-items: center;
}



.input{
  font-size: 30px;
  width: 200px;
  height: 100px;

}